.header {
    display: flex;
    padding: 20px 2vw;
    background: lightcyan;
    .logo {
        align-self: center;
    }
    nav {
        ul {
            list-style-type: none;
        }
    }
}

@media (min-width: 798px) {
    .header {
        // flex-direction: column;
        flex-direction: row;
        background: lightblue;
    }
}